.Header {
  padding: 1rem 0;
  display: grid;
  grid: 1fr / 1fr 1.25fr 1.25fr;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.logo-title {
  justify-self: start;
  cursor: pointer;
  margin-left: 4rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.logo-title i {
  font-size: 2rem;
  color: var(--custom-blue);
}

.logo-title span {
  font-weight: 700;
}

.spans span:first-child {
  color: var(--custom-blue);
}

@media only screen and (max-width: 600px) {
  .logo-title {
    margin-left: 1rem;
  }
}