.SearchBar form {
  display: flex;
  gap: .75rem;
}

.SearchBar input {
  width: 80%;
  background-color: #eee;
  padding: .5rem 1rem;
  border: none;
  border-radius: .2rem;
}

.SearchBar button {
  background-color: transparent;
  border: none;
}

.SearchBar button i {
  cursor: pointer;
  font-size: 1.35rem;
  color: #888;
}

@media only screen and (max-width: 600px) {
  .SearchBar input {
    width: 85%;
  }
}